{{ define "main" }}

<!-- HOME HERO SECTION -->
<div class="home-head">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 order-2 order-lg-1">
				<div class="home-head-left">
					<div class="home-head-logo mb-4">
						<img src="/assets/images/logo.png" alt="Show Me The Wow Logo">
					</div>
					<h1 class="main-heading fade-left-delay">Is It A Sham?<br>Is It A Wow?</h1>
					<p class="fade-left-delay">If you can Wow Vince, we're ready to help you Wow it to the World!</p>
					<a href="#start-now" class="btn fade-in delay-1250">Submit Your Idea</a>
				</div>
			</div>
			<div class="col-lg-7 order-1 order-lg-2">
				<div class="video-player w-100 position-relative">
					<div class="play-btn"><img src="/assets/images/home/play.svg" alt=""></div>
					<div class="vince-thumbnail"></div>
					<div class="home-head-player" style="position: relative; padding-top: 56.25%;"><iframe src="https://iframe.videodelivery.net/ecf6af23ae91690125557d7d9c76ebab?poster=https%3A%2F%2Fvideodelivery.net%2Fecf6af23ae91690125557d7d9c76ebab%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600&controls=false&loop=true" style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true" id="stream-player"></iframe></div>
					<div class="volume-on volume"><img src="/assets/images/home/volume.svg" alt=""></div>
					<div class="volume-off volume"><img src="/assets/images/home/volume-off.svg" alt=""></div>
				</div>
				<div class="video-player-socials">
					<div class="video-player-socials-wrp">
						<!--<a href="https://www.facebook.com/showmethewow/" target="_blank"><i class="fab fa-facebook-f no-ml"></i></a>
						<a href="https://www.linkedin.com/showmethewow/" target="_blank"><i class="fab fa-linkedin"></i></a>-->
						<a href="https://www.instagram.com/showmethewow/" target="_blank"><i class="fab fa-instagram no-ml"></i></a>
						<a href="https://www.tiktok.com/@showmethewow" target="_blank"><i class="fab fa-tiktok"></i></a>
						<a href="https://www.youtube.com/channel/showmethewow" target="_blank"><i class="fab fa-youtube"></i></a>
						<p>Follow Us</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md offset-md-2">
				<a class="learn-more-row d-flex fade-in delay-4000 text-decoration-none" href="#everyone-can-win">
					<div class="go-down">Learn More</div>
					<img src="/assets/images/home/arrow-down.svg" alt="Down arrow">
				</a>
			</div>
		</div>
	</div>
</div>

<!-- EVERYONE CAN WIN SECTION -->
<div class="everyone-can-win" id="everyone-can-win">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="win-vince">
					<img src="/assets/images/home/vince.png" alt="Creator Vince Offer">
				</div>
			</div>
			<div class="col-md-6 position-relative fade-right-delay">
				<div class="win-info">
					<h1 class="main-heading">
						Everyone Can Win
					</h1>
					<p class="first-win-text">We're not looking for 1 winner, we're looking for <span>many</span> winners!</p>
					<p>This will be a competitive show but if the ideas and prototypes make money, they all win.</p>
					<a href="#your-idea" class="btn fade-in delay-1250">Submit Your Idea</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- HOW DOES IT WORK SECTION -->
<div id="how-does-it-work" class="work">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="main-heading text-center">
					How Does It Work
				</h1>
			</div>
		</div>
		<!-- First Card -->
		<div class="row">
			<div class="col-md-6 position-relative">
				<div class="work-card fade-left">
					<img src="/assets/images/home/1.png" alt="" class="work-card-number scaleUp">
					<div class="work-card-img text-end">
						<img src="/assets/images/home/idea.svg" alt="Man thinking">
					</div>
					<div class="work-card-body ">
						<h2>YOUR IDEA</h2>
						<p>
							If you have that great idea or prototype, please click the Submit button.  There, you’ll answer a few questions, sign the Terms and Conditions, and send us a 1 minute video describing, showing or displaying your idea or prototype.   
						</p>
						<p>
							We will air clips of the videos along with Vince and his team’s responses to it and even our fans from the show will tell us how much they like it to help us gauge the audience response. 
						</p>
						<p>
							The one that gets the best likes in general will get to move up to the COMPETITION!
						</p>
					</div>
				</div>
				<img src="/assets/images/home/dots.png" alt="" class="work-card-dots">
				<img src="/assets/images/home/arrow-down.svg" class="arr-down1 fade-in delay-500" alt="Down arrow">
			</div>
		</div>
		<!-- Second Card -->
		<div class="row">
			<div class="col-md-6 offset-md-6 position-relative">
				<div class="work-card w-c-2 fade-right">
					<img src="/assets/images/home/2.png" alt="" class="work-card-number scaleUp">
					<div class="work-card-img text-end">
						<img src="/assets/images/home/competition.svg" alt="4 people in a meeting">
					</div>
					<div class="work-card-body">
						<h2 class="d-blue">THE COMPETITION</h2>
						<p>
							The chosen ones will pack their bags and make that journey to Vince's secret studio!  There you will compete against other entrepreneurs, while working with Vince and his team of experts to make it into a real sellable product. 
						</p>
						<p>
							If you can make it through the various steps, win over our audience and get some presales, then you move up to the LAUNCH!   
						</p>
					</div>
				</div>
				<img src="/assets/images/home/dots.png" alt="" class="work-card-dots">
				<img src="/assets/images/home/arrow-down.svg" class="arr-down2 fade-in delay-500" alt="Down arrow">
			</div>
		</div>
		<!-- Third Card -->
		<div class="row">
			<div class="col-md-6 offset-md-2 position-relative">
				<div class="work-card w-c-3 fade-left">
					<img src="/assets/images/home/3.png" alt="" class="work-card-number scaleUp">
					<div class="work-card-img text-end">
						<img src="/assets/images/home/launch.svg" alt="Winner on a podium">
					</div>
					<div class="work-card-body">
						<h2 class="d-blue">THE LAUNCH</h2>
						<p>
							This is where we produce the commercial with Vince or one of his celebrity contacts!  But then again, you never know, Vince may think you might be the perfect host for your product!  
						</p>
						<p>
							We’re going to have all our resources working with you to customize that perfect script, produce and launch that prefect commercial.
						</p>
						<p>
							The top commercial that sells the most in our Launch phase will get a multi -million dollar distribution deal with Vince’s company!  And if every product is profitable, everyone will get a deal!  
						</p>
					</div>
				</div>
				<img src="/assets/images/home/dots.png" alt="" class="work-card-dots">
			</div>
		</div>
		<!-- Why Work With Us Section -->
		<div class="position-relative">
			<div class="why-work fade-in">
				<div class="row">
					<div class="col-12">
						<h1 class="main-heading text-center">
							Why Work With Us?
						</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="work-icon-card">
							<img src="/assets/images/home/rocket.svg" alt="Rocket ship">
							<p>Many Previous Successful Projects</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="work-icon-card">
							<img src="/assets/images/home/people.svg" alt="Network of people">
							<p>Access to leading industry experts</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="work-icon-card">
							<img src="/assets/images/home/profit.svg" alt="Ascending price graph">
							<p>We all share	the profits</p>
						</div>
					</div>
				</div>
			</div>
			<img src="/assets/images/home/dots.png" class="why-work-dots" alt="">

			<div class="row">
				<div class="col-12">
					<div class="get-started-row d-flex fade-in">
						<div class="go-down">Get Started</div>
						<img src="/assets/images/home/arrow-down.svg" alt="Down arrow">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- TELL US ABOUT YOUR IDEA SECTION -->
<div class="your-idea" id="your-idea">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="main-heading text-center fade-in">
					Tell us about <br> your idea
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1 position-relative">
				<div class="idea-card text-center fade-in">
					<h2>Here's some suggestions on how you can film yourself!</h2>
					<p>
						You can show us <b>where you were</b> when you came up with the idea, who was there, and what transpired from there. If possible, <b>demonstrate</b> how it solves a problem or how it improves something or someone's life.  
					</p>
					<p>
						Vince loves humor, edgy or even campy, so if there's some interesting <b>tidbit</b> that you think might get a laugh on the product that always helps too! 
					</p>
					<p>
						Keep some of these points in mind, remember you’re not only pitching it to Vince but to our fans so if you want to do something <b>off the wall</b>, or you’re thinking of something <b>even better</b> than our suggestions, please do because Vince's motto is <b>“always take risks and try new things”!</b>
					</p>
					<p>
						So good luck and we hope to see you soon!
					</p>
					<div class="row text-center mt-5">
						<div class="col-md-4 col-6">
							<div class="idea-icon">
								<img src="/assets/images/home/message.svg" alt="Speech bubble">
								<h3>Pitch your idea in a video</h3>
							</div>
						</div>
						<div class="col-md-4 col-6">
							<div class="idea-icon">
								<img src="/assets/images/home/time.svg" alt="Clock">
								<h3>Keep it brief, under 2 mins</h3>
							</div>
						</div>
						<div class="col-md-4 col-12">
							<div class="idea-icon">
								<img src="/assets/images/home/upload.svg" alt="Video upload icon">
								<h3>Upload as an AVI or MP4</h3>
							</div>
						</div>
					</div>
				</div>
				<img src="/assets/images/home/dots.png" class="icon-card-dots" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-md-9 text-end">
				<div class="upload-now-row d-flex justify-content-end">
					<img src="/assets/images/home/arrow-down.svg" alt="Down arrow">
					<div class="go-down">Upload Now</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- CONTACT SECTION -->
<div id="start-now" class="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-6">
				<div class="contact-info">
					<img src="/assets/images/logo.png" alt="">
					<h1 class="main-heading">
						Upload Your Idea
					</h1>
					<p>
						It's simple!  Just review & accept the
						contestant terms below & then 
						send us your idea
					</p>
					<button data-bs-toggle="modal" data-bs-target="#terms-modal" target="_blank" class="btn before-terms-accepted">Contestant Terms</button>
					<div class="terms-accepted">
						<p><b>Terms Accepted! Submit Your Idea ></b></p>
						<a href="/assets/files/contestant-terms.pdf" target="_blank" class="new-terms txt-sml" download>Download Terms</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 offset-lg-1 position-relative formStatus">
				<div id="filerequestpro" data-url-slug="show-me-the-wow" style="margin:auto; min-width: 100px; height:570px;"></div> <script src="https://filerequestpro.com/embedv2.js"></script>
			</div>
		</div>
	</div>
</div>
<!-- TERMS MODAL -->
<div class="modal fade" id="terms-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title text-center w-100" id="exampleModalLabel">
        	<b>Show Me the Wow! Content and Contestant Submission Terms</b> <br>
        	<span>Last updated September 1, 2021</span>
        </p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<p>
			Show Me the Wow! is a new entertainment series produced by SMW Entertainment, LLC., (“SMW”) featuring worldfamous product pitchman, Vince Offer (the “Show”). You are invited to apply to appear on the show and pitch your
			product idea (“Contestant”). There is no cost to the Contestant to participate. As part of your application,
			please submit photos and/or videos of your invention(s) and ideas, including your pitch, inventing successes and
			bloopers (the “Materials”). No prototype required. Good luck!
		</p>

		<p class="pop-up-head">Eligibility</p>

		<p>
			<ol>
				<li>
					In order to be considered as a Contestant on the Show, you must meet the following requirements which may be changed at any time by SMW in its sole discretion:
					<ul>
						<li>
							You must be 18 years of age (or the age of majority in the state in which you reside) or older; or if below 18
							years of age (or the age of majority in the state in which you reside) your parent(s) and/or legal guardian(s)
							must apply on your behalf and must also sign and agree to all documents related to your potential
							participation or content inclusion in the Show.
						</li>
						<li>
							You must be and remain legally present in the United States or Canada during your participation in the
							Show and legally authorized to participate.
						</li>
						<li>
							You must not be a candidate for public office and must agree not to become such a candidate for a period
							of eighteen (18) months from the date of the initial airing of the final episode in which you and/or the
							Materials appear.
						</li>
						<li>
							Neither you nor any of your immediate family members or anyone living in your household may currently
							be, nor have been within the past one (1) year, an employee, independent contractor, officer or agent of
							any of the following: (a) SMW or Square One Entertainment, Inc. or any entity owned, controlled or
							affiliated with each of the foregoing, or any direct and/or indirect parents, subsidiaries, affiliated or related
							entities of each of the foregoing; (b) any person or entity directly involved in the development, production,
							distribution or other exploitation of the Show or any variation thereof; (c) any known major sponsor of the
							Show; (d) Vince Offer or any judge or any entity substantially owned or controlled by Vince Offer or any
							judge; or (e) any person or entity supplying services to the Show.
						</li>
						<li>
							You may not have been convicted of a felony (or indictable offense in CA) in the previous 10 years (unless
							expunged).
						</li>
						<li>
							You must voluntarily submit to a background check, in SMW’s sole discretion.
						</li>
						<li>
							You or the Materials must not have appeared on any similar television or online programming.
						</li>
						<li>
							Video length must be 2 minutes or under.
						</li>
					</ul>
				</li>
				<li>
					You acknowledge and agree that SMW has the sole discretion to render ineligible any person who, in SMW’s
					sole discretion, is sufficiently acquainted with any person or entity connected with the development, production,
					or exhibition of the Show that their participation in the Show could create the appearance of impropriety.
				</li>
				<li>
					You acknowledge that even if you are chosen to be Contestant, there is no guarantee that your appearance will
					be included in the Show.
				</li>
				<li>
					If you are a parent/legal guardian submitting on behalf of a minor, please include your (parent/legal guardian)
					contact information in the submission form.
				</li>
				<li>
					You acknowledge that in order to be eligible to compete as a Contestant on the show, you must sign all
					releases, contracts, rules statements and any other commitments or acknowledgements as required by SMW,
					in its sole discretion.
				</li>

				<p class="pop-up-head">Materials</p>

				<li>
					All Materials become the sole and exclusive property of SMW and cannot be returned at any time. By
					submitting Materials, you grant SMW a royalty-free license to use the Materials as well as your name, likeness
					(actual or simulated), photograph, caricature, voice, biographical material, and any other of your identity
					(collectively, your “Likeness”) in connection with the Show, for any purpose, including but not limited to its
					promotion, production, exhibition, advertising, publicity, merchandising and any other exploitation, in any way, 
					© 2021 SMW Entertainment, LLC.
					in any medium, on a worldwide basis, in perpetuity, for any reason,, even if you are not chosen as a
					Contestant.
				</li>
				<li>
					You hereby waive and relinquish any and all claims against SMW and all parties associated with the Show,
					their successors and assigns, related or affiliated entities, and directors, officers, agents and employees (the
					“Released Parties”) for SMW’s use of the Materials or your Likeness, and release the Released Parties and
					hold them harmless with respect to any injuries you may receive, including but not limited to embarrassment,
					emotional distress, or any other psychological or emotional harm.
				</li>
				<li>
					You represent and warrant all Materials are 100% original and that they do not and shall not infringe upon,
					violate or misappropriate the rights, including, without limitation, trademarks, patents, or any other intellectual
					property rights or trade secrets, of any other person or entity; will not cause injury or harm to any other person
					or any property; and that there are and will be no encumbrances, liens, conditions or restrictions whatsoever
					upon or affecting such Materials. You agree to indemnify and hold SMW and the other Released Parties, free
					and harmless, to the fullest extent permitted by law, from and against any and all claims, actions, damages,
					liabilities, losses, costs and expenses (including, without limitation, attorneys' fees and costs) that in any way
					arise out of or result from any breach by you of this provision.
				</li>
				<li>
					You represent and warrant that the Materials do not contain any untrue statements, any omission of material facts
					or otherwise misleading or unsubstantiated claims of product efficacy.
				</li>
				<li>
					You acknowledge and agree that SMW reserves the right to edit or otherwise alter the Materials for any reason,
					including but not limited to, in order to incorporate or append the Show’s graphics, for creative reasons, for
					technical reasons, to comply with network’s broadcast standards and practices, and/or in order to convert the
					Materials into a broadcast-quality videos for potential on-air broadcast.
				</li>
				<li>
					You agree not to submit the Materials to similar and/or competing programs or invention promoters. Such
				submission will result in automatic disqualification.
				</li>
				<li>
					You represent that the Materials have not been telecast on national television prior to its first appearance on
				the Show. Notwithstanding the foregoing, if SMW determines to its satisfaction that a video was exposed
				on national television without your knowledge or involvement, SMW may, in its sole discretion and in
				keeping with the fairness and integrity of the competition, permit the Materials to appear on the Show.
				</li>
				<li>
					You acknowledge that you will not be compensated in any way by SMW or any other Released Party for
				submitting Materials, or for SMW’s use of the Materials.
				</li>
				<li>
					You agree to sign any other releases and/or agreements as required by SMW, in SMW’s sole discretion in
				order to participate as a Contestant on the Show.
				</li>

				<p class="pop-up-head">General</p>

				<li>
					You confirm that you have read and agree to these Content and Contestant Terms, the SMW Terms of Use for
					this website and the SMW Privacy Policy, and you represent and warrant that you meet the Eligibility
					Requirements. You also acknowledge that SMW will receive the personal information you provide in connection
					with your submission and may use that information in accordance with the SMW Privacy Policy.
				</li>
				<li>
					These Content and Contestant Submission Terms are governed by the laws of the state of California, without
					regard to conflict of laws of the United States, without giving effect to any conflict of law principles. See SMW’s
					Terms of Use for our governing law and binding arbitration terms
				</li>
			</ol>
		</p>
      </div>
      <div class="modal-footer">
      	<button class="btn mx-auto accept-terms-btn" data-bs-dismiss="modal">ACCEPT TERMS</button>
      </div>
    </div>
  </div>
</div>

<!-- GOT SOME QUESTIONS SECTION -->
<div class="got-some-questions">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="text-center">
					<h1 class="main-heading">Got Some Questions</h1>
					<p>
						We've got the answers, check out our FAQ's
					</p>
					<a href="/faq" class="btn">FAQs</a>
				</div>
			</div>
		</div>
	</div>
</div>


{{ end }}